node_modules
**/node_modules
.git
.turbo
**/.turbo
**/dist
.env
.env.*
!.env.example
docker/.env
*.md
.cursor
coverage
**/*.test.ts
**/*.test.tsx
apps/client/dist
apps/server/dist
packages/shared/dist
apps/game-engine/dist
